// skip navigation
#skip_nav {

    a {
        background: #333;
        color:$color4;
        height: 30px;
        left: 0;
        padding: 8px;
        position: absolute;
        transform: translateY(-100%);
        transition: transform 0.3s;

        &:focus {
            transform: translateY(0%);
        }
    }
}