@keyframes dropHeader {
    0% {
      top: -5rem;
    }
    100% {
      top: 0;
    }
  }

#wrap {
    overflow: hidden;
    box-sizing: border-box;
}
  
.container {
    margin:0 auto;
    width:100%;
    max-width:1170px;
    box-sizing: border-box;
    font-family:Segoe UI;
}

header {
    &.main-header {
        position:absolute;top:0;width:100%;
        background-color:rgba(0,0,0,.3);
        height:150px;
        transition:.3s;
        z-index: 10;

        &.drop {
            position: fixed;
            height:100px;
            background-color:rgba(0,0,0,.8);
            animation: dropHeader 0.3s;
        }
        .container {
            @include flex (space-between, center);
            height: 100%;
        }
        nav ul {
            @include flex (space-between, center);
            // padding:57px 0;

            li {
                width: 80px;
                margin-left: 20px;
                padding:1% 0;
                text-align: center;
                border: 2px solid rgba(0,0,0,0);
                a {
                    color:$color4;
                    font-size:14px;
                    font-weight:600;
                    transition:.3s;
                }

                &.active {
                    border:2px solid $color1;
                    a {
                        color:$color1;
                    }
                }
                &:hover {
                    a {
                        
                        color:$color1;
                    }
                    
                }
            }
        }
    }
}

section {
    h2 {
        position:relative;
        // padding-top:80px;
        font-size:30px;
        // color: #fff;
        font-weight:200;
        text-transform: uppercase;
        &::after {
            position:absolute;
            bottom:-10px;
            left:0;
            width:45px;
            height:2px;
            content: '';
            background:#000;
        }
    }
    &.banner {
        height:100vh;
        background-image: url(../../assets/images/main_banner.png);
        background-size:cover;
        background-position: center;
        .container {
            position:absolute;
            width:100%;
            height:100%;
            left:50%;
            right:50%;
            bottom:50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
        h1 {
            display: inline;
            line-height:75px;
            font-size:42px;
            font-weight:300;
            text-transform: uppercase;
            color:#fff;
            background-color:rgba(0,0,0,.3);
        }
    }
    &.services {
        padding-top:80px;
        background-color:$color1;
        h2 {
            color:$color4;
            &::after {
                background-color:$color4;
            }
        }
        ul {
            display: flex;
            margin-top:50px;
            li {
                margin-right:30px;
                margin-bottom:75px;
                &:last-child {
                    margin-right:0;
                }
                h3 {
                    margin:20px 0;
                    color:$color4;
                    font-size:24px;
                    font-weight:400;
                    text-transform: uppercase;
                }
                p {
                    font-size:12px;
                    color:$color4;
                }
            }
        }
    }
    &.portfolio {
        padding-top:80px;
        .content-header {
            @include flex (space-between, center);
            .menu {
                @include flex (space-between, center);
                width:540px;
                text-transform: uppercase;
                li {
                    padding:8px 15px;
                    color:$color2;
                    font-size: 14px;
                    font-weight:600;
                    border:2px solid rgba(0,0,0,0);
                    transition:.3s;
                    cursor: pointer;
                    
                    &.active {
                        border: 2px solid $color1;
                        color:$color1;
                    }
                    &:hover {
                        
                        color:$color1;
                    }
                }
            }
        }
        .contents {
            margin:80px 0 50px;
            @include flex (space-between, center);
            flex-wrap: wrap;
            li {
                position:relative;
                margin-right:30px;
                margin-bottom:30px;
                cursor: pointer;

                &:nth-child(4n) {
                    margin-right:0;
                }
                &::before {
                    position:absolute;
                    top:0;left:0;right:0;bottom:0;
                    background-color:rgba(0,0,0,.6);
                    content:"+";
                    font-size:72px;
                    text-align: center;
                    line-height:270px;
                    color:$color4;
                    cursor: pointer;
                    opacity:0;
                    transition:.3s;
                }
                &:hover::before {
                   opacity:1;
                }
                img {
                    display: block;
                    object-fit: cover;
                }
            }
        }
    }
    &.video {
        background-color:$color2;
        padding:80px 0;
        h2 {
            color:$color4;
            &::after {
                background:$color4;
            }
        }
        .container {
            @include flex (space-between, center);
            div {
                flex:1;
                width:50%;
                max-width:570px;
                p {
                    margin:30px 0;
                    max-width:470px;
                    font-size:14px;
                    color:$color4;
                    &:nth-of-type(1){
                        margin-top:50px;
                    }
                    &:nth-of-type(2){
                        margin-bottom:15px;
                    }
                }
                a {
                    display: inline-block;
                    width:140px;
                    height:45px;
                    border:2px solid $color3;
                    color:$color3;
                    text-align: center;
                    line-height: 45px;
                    font-family:Segoe UI-bold;
                    font-weight:bold;
                    font-size: 14px;
                    text-transform: uppercase;
                    transition: .3s;

                    &:hover {
                        background-color:$color3;
                        color:$color4
                    }
                }
            }
            video {
                width: 560px;
                height:315px;
            }
        }
    }
    &.twitter {
        padding:80px 0 75px;
        background-color:$color1;
        .content-header{
            @include flex (space-between, center);
            h2 {
                color:$color4;
                &::after {
                    background-color:$color4;
                }
            }
        }
        
        p {
            margin-top: 45px;
            font-size: 28px;
            font-weight:100;
            line-height:50px;
            color:$color4;
            a{
                color:$color4;
                font-weight:600;
            }
        }
    }
    &.social {
        padding:100px 0 175px;
        background-image: url(../../assets/images/bg_social.png);
        background-size: cover;
        .container {
            @include flex (space-between, flex-start);
            flex-wrap: wrap;
            h2 {
                color:$color4;
                display: block;
                width: 100%;
                &::after {
                    background-color:$color4;
                }
            }
            div {
                margin-top: 50px;
                max-width:570px;
            }
            p {
                font-size:14px;
                line-height:24px;
                color:$color4;
                margin-bottom:35px;
            }
            .link_content {
                a {
                    display:inline-block;
                    margin-right: 20px;
                    border:2px solid $color4;
                    width:62px;
                    height:62px;
                    vertical-align: bottom;
                    img {
                        display: block;
                        text-align: center;
                        margin: 50% auto;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    &.quote {
        padding:80px 0;
        .content-header {
            @include flex (space-between, center);
        }
        h3 {
            margin:50px 0 35px;
            font-size:28px;
            font-weight:100;
            line-height:50px;
        }
        span {
            font-size:14px;
            font-weight:600;
            color:$color1;
        }
    }
    &.contact {
        padding:80px 0;
        background-image: url(../../assets/images/bg_contact.png);
        background-size:cover;
        h2 {
            color:$color4;
            &::after {
                background-color:$color4;
            }
        }
        fieldset {
            @include flex (space-between, center);
            margin-top: 50px;
            flex-wrap: wrap;
            p {
                margin-bottom:40px;
                width:50%;
                font-size:14px;
                line-height:24px;
                color:$color4;

                &:last-of-type {
                    width:100%;
                }
            }
            label {
                display:block;
                margin-bottom:10px;
                font-size:14px;
                font-weight:600;
                color:$color4;
            }
            input[type="text"] {
                width: 100%;
                max-width:470px;
                border:2px solid $color4;
                padding:2%;
                background:none;
                color:$color4;
                font-size: inherit;
                box-sizing: border-box;
            }
            textarea {
                display:block;
                width: 100%;
                height:200px;
                padding:2%;
                resize:none;
                background:none;
                color:$color4;
                border:2px solid $color4;
                font-size: inherit;
                box-sizing: border-box;
            }
        }
    }
}