// calculation px to rem
@mixin fontSize($size){
    font-size: $size;
    font-size:calculateRem($size);
}

// flex
@mixin flex($justify-content, $align-items){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

// font 설정 
// @mixin font-face($style-name, $file, $family: '') {
//     $filepath: '../../assets/webfonts/' + $file;
  
//   @font-face {
//     font-family: '"#{$style-name}"';
//     src: url("$filepath + '.eot'");
//     src: url($filepath + '.eot?#iefix') format('embedded-opentype'), url($filepath + '.ttf') format('truetype'), url($filepath + '.svg#' + $style-name + '') format('svg');
//   }
// }
//   @include font-face('Segoe UI', 'Segoe UI','serif');
//   @include font-face('Segoe UI-italic', 'Segoe UI Italic','serif');
//   @include font-face('Segoe UI-bold', 'Segoe UI Bold','serif');
//   @include font-face('Segoe UI-boldI', 'Segoe UI Bold Italic','serif');


// media query 

@mixin mobile {
    @media (min-width: #{$mobile}) and (max-width: #{$tablet - 1px}) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: #{$desktop-sm - 1px}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$desktop-sm}) {
      @content;
    }
  }