// break points
$mobile:320px;
$tablet:768px;
$desktop-sm:1024px;
$desktop-md:1441px;
$desktop-lg:1920px;

// Primary colors
$color1:#4bcaff;
$color2:#515f67; 
$color3:#353f46;
$color4:#fff;

$font-size:16;